<?xml version="1.0" encoding="UTF-8"?>
    <?xml-model href="persistence.xsd"?>

<persistence>
	<persistence-unit name="tarefas">

     <provider>org.hibernate.ejb.HibernatePersistence</provider>

     <class>cadastro.models.Pessoa</class>
           <properties>
               <property name="javax.persistence.jdbc.driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
	            <property name="javax.persistence.jdbc.url" value="jdbc:sqlserver://localhost:1433;databaseName=Cadastro_db"/>
	            <property name="javax.persistence.jdbc.user" value="RUMOSOLUCOES\gustavo.rodrigues"/>
	            <property name="javax.persistence.jdbc.password" value="rumo2022"/>
	
	            <!-- Configurações específicas do Hibernate -->
	            <property name="hibernate.dialect" value="org.hibernate.dialect.SQLServerDialect"/>
	            <property name="hibernate.hbm2ddl.auto" value="update"/>
	            <property name="hibernate.show_sql" value="true"/>
	            <property name="hibernate.format_sql" value="true"/>
           </properties>
       </persistence-unit>
   </persistence>