<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Cadastro em SpringBoot</title>
    </head>
    <body>
        <div>
            <div>
                <h1>Sistema de cadastro</h1>
                <a th:href="@{/cadastro/incluir}">Cadastrar</a>
                <a th:href="@{/cadastro/}">Listar todos</a>
                <a th:href="@{/cadastro/aniversario}">Aniversariantes da semana</a>
            </div>
        </div>
    </body>
</html>